<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://use.fontawesome.com/29b0cb94dd.js"></script>
  <link rel="stylesheet" href="/css/main.css" /> {{{extraHead}}}
</head>

<body id="base">
  <div class="topNav">
    <div class="left">
      <a href='/'>
        <div class="logo">
          VOTING APP
        </div>
      </a>
    </div>
    <div class="right">
      {{#if user}}
      <a href='/createpoll'>
        <div class="navItem">
          Create Poll
          <div class="hoverSelection"></div>
        </div>
      </a>
      <a href="/user">
        <div class="navItem">
          <img style="border-radius:10%" src={{user.avatar}} />
          <div class="hoverSelection"></div>
        </div>
      </a>
      <a href='/logout'>
        <div class="navItem">
          <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
          <div class="hoverSelection"></div>
        </div>
      </a>
      {{else}}
      <a href="/login" target="_blank" id='popUp'>
        <div class="navItem">
          <div>
            Sign in with <br/>
            <i class="fa fa-twitter fa-2x" style='color: #00aced' aria-hidden="true"></i>
            <div class="hoverSelection"></div>
          </div>
        </div>
      </a>
      {{/if}}
    </div>
  </div>
  <div class="partialWrapper">
    {{{mainBody}}}

  </div>
  <div class="footer">
    <p>Erdem Bircan</p>
    <a target='_blank' href="https://github.com/erdembircan">
      <img class='footerImg' src="http://www.freeiconspng.com/uploads/github-logo-icon-30.png" alt="" />
    </a>

  </div>
  {{{extraScripts}}}

  <script src="/js/index.js" defer></script>

  <div data-message='{{message}}'></div>
  <div data-error='{{error}}'></div>

</body>

</html>