<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf8" />
  <meta name="viewport" content="width = device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/main.css" />
  <title>Index</title>
  {{{extraHead}}}
</head>

<body>
  <div class="topNav">
    <div class="right">
      {{#if user}}
      <a href='/createpoll'>
        <div class="navItem">
          Create Poll
          <div class="hoverSelection"></div>
        </div>
      </a>
      <a href='/poll/5a4a454a05c4bc3c1b78cef7'>
        <div class="navItem">
          Go Poll 1
          <div class="hoverSelection"></div>
        </div>
      </a>
      <a href='/logout'>
        <div class="navItem">
          Logout
          <div class="hoverSelection"></div>
        </div>
      </a>
      <a href="/user">
        <div class="navItem">
          <img style="border-radius:10%" src= {{user.avatar}} />
          <div class="hoverSelection"></div>
        </div>
      </a>
      {{else}}
      <a href="/login" target="_blank" id='popUp'>
        <div class="navItem">
          Log in
          <div class="hoverSelection"></div>
        </div>
      </a>
      {{/if}}
    </div>
  </div>
  <p>
    {{message}}<br/>
    {{error}}<br/>
    {{user.name}}<br/>
  </p>
  {{{extraScripts}}}

</body>

</html>